@import 'breakpoints';

#home {
  figure {
    img {
      max-width: 50%;
    }

    @media (min-width: #{map-get($breakpoints, sm)}) {
      figcaption {
        max-width: 80%;
      }
    }

    @media (min-width: #{map-get($breakpoints, md)}) {
      figcaption {
        max-width: 60%;
      }
    }
  }
}
