<section id="register">
  <div class="container">
    <h2 class="text-center mat-subheading-1">First, we need to verify you're real.</h2>
    <mat-horizontal-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]="user">
        <form class="py-6" [formGroup]="user">
          <ng-template matStepLabel>Phone</ng-template>
          <!-- Phone -->
          <mat-form-field class="mx-sm-3" appearance="outline" floatLabel="always">
            <mat-label>Mobile</mat-label>
            <input
              matInput
              type="text"
              autocomplete="tel"
              inputmode="tel"
              formControlName="phone"
              maxlength="14"
              mask="(000) 000-0000"
              (keyup.enter)="sendVerificationToken(stepper)"
            />
            <mat-error *ngIf="user.controls.phone?.invalid">
              Please enter a valid phone number
            </mat-error>
          </mat-form-field>
          <div>
            <button
              mat-raised-button
              (keyup.space)="sendVerificationToken(stepper)"
              (click)="sendVerificationToken(stepper)"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step class="py-6" [stepControl]="verification">
        <form [formGroup]="verification">
          <ng-template matStepLabel>Verification Code</ng-template>
          <!-- Code -->
          <mat-form-field class="mx-sm-3" appearance="outline" floatLabel="always">
            <mat-label>Verification Code</mat-label>
            <input
              matInput
              type="tel"
              autocomplete="off"
              formControlName="code"
              (keyup.enter)="stepper.next()"
            />
            <mat-error *ngIf="verification.controls.code.invalid">
              Incorrect code entered
            </mat-error>
          </mat-form-field>
          <div>
            <button mat-button matStepperPrevious>Back</button>
            <button
              class="ml-6"
              mat-raised-button
              (keyup.space)="verifyToken(stepper)"
              (click)="verifyToken(stepper)"
            >
              Next
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Done</ng-template>
        <div class="text-center">
          <h3 class="mat-body-2">Looks like you are quite real.</h3>
          <button mat-raised-button [routerLink]="['/start']">Apply Online</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </div>
</section>
