$ld-amethyst: (
  50: #ebe6f2,
  100: #cec0de,
  200: #ad96c8,
  300: #8c6cb2,
  400: #744da2,
  500: #5b2d91,
  600: #532889,
  700: #49227e,
  800: #401c74,
  900: #2f1162,
  A100: #ba98ff,
  A200: #9865ff,
  A400: #7632ff,
  A700: #6519ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$ld-lime: (
  50: #f4f9e7,
  100: #e4f0c4,
  200: #d3e79c,
  300: #c1dd74,
  400: #b3d557,
  500: #a6ce39,
  600: #9ec933,
  700: #95c22c,
  800: #8bbc24,
  900: #7bb017,
  A100: #f5ffe4,
  A200: #e2ffb1,
  A400: #ceff7e,
  A700: #c5ff64,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$ld-prince: (
  50: #f1ebf8,
  100: #ddceed,
  200: #c6ade1,
  300: #af8cd4,
  400: #9d73cb,
  500: #8c5ac2,
  600: #8452bc,
  700: #7948b4,
  800: #6f3fac,
  900: #5c2e9f,
  A100: #eee4ff,
  A200: #cfb1ff,
  A400: #b07eff,
  A700: #a064ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$ld-eggplant: (
  50: #eee8f5,
  100: #d5c5e5,
  200: #b99fd4,
  300: #9c78c3,
  400: #875bb6,
  500: #723ea9,
  600: #6a38a2,
  700: #5f3098,
  800: #55288f,
  900: #421b7e,
  A100: #d2b8ff,
  A200: #b185ff,
  A400: #9152ff,
  A700: #8039ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$ld-peony: (
  50: #fdeef3,
  100: #fbd5e0,
  200: #f9b9cb,
  300: #f69cb6,
  400: #f487a7,
  500: #f27297,
  600: #f06a8f,
  700: #ee5f84,
  800: #ec557a,
  900: #e84269,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffd4dd,
  A700: #ffbac9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$ld-atlantic: (
  50: #e2edf6,
  100: #b6d3ea,
  200: #86b5dc,
  300: #5697cd,
  400: #3181c3,
  500: #0d6bb8,
  600: #0b63b1,
  700: #0958a8,
  800: #074ea0,
  900: #033c91,
  A100: #bdd3ff,
  A200: #8ab1ff,
  A400: #578fff,
  A700: #3d7eff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff
  )
);

$ld-ruby: (
  50: #fae9ea,
  100: #f2c7cb,
  200: #e9a2a9,
  300: #e07c86,
  400: #da606c,
  500: #d34452,
  600: #ce3e4b,
  700: #c83541,
  800: #c22d38,
  900: #b71f28,
  A100: #fff0f0,
  A200: #ffbdc0,
  A400: #ff8a90,
  A700: #ff7078,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$ld-pumpkin: (
  50: #fff5e0,
  100: #ffe6b3,
  200: #ffd580,
  300: #ffc44d,
  400: #ffb826,
  500: #ffab00,
  600: #ffa400,
  700: #ff9a00,
  800: #ff9100,
  900: #ff8000,
  A100: #ffffff,
  A200: #fff8f2,
  A400: #ffdcbf,
  A700: #ffcea6,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$ld-jade: (
  50: #e1f4ef,
  100: #b4e4d7,
  200: #82d3bc,
  300: #50c1a1,
  400: #2bb38c,
  500: #05a678,
  600: #049e70,
  700: #049565,
  800: #038b5b,
  900: #017b48,
  A100: #a8ffd5,
  A200: #75ffbd,
  A400: #42ffa4,
  A700: #29ff98,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$ld-pacific: (
  50: #e2eff9,
  100: #b7d7f1,
  200: #87bce8,
  300: #57a1de,
  400: #338dd7,
  500: #0f79d0,
  600: #0d71cb,
  700: #0b66c4,
  800: #085cbe,
  900: #0449b3,
  A100: #dce8ff,
  A200: #a9c6ff,
  A400: #76a4ff,
  A700: #5d93ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$ld-galaxy: (
  50: #e4e5e7,
  100: #bbbfc2,
  200: #8e949a,
  300: #606971,
  400: #3e4852,
  500: #1c2834,
  600: #19242f,
  700: #141e27,
  800: #111821,
  900: #090f15,
  A100: #589fff,
  A200: #2582ff,
  A400: #0067f1,
  A700: #005cd7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$ld-slate: (
  50: #e6e8ea,
  100: #c0c5cb,
  200: #969fa8,
  300: #6b7885,
  400: #4c5b6a,
  500: #2c3e50,
  600: #273849,
  700: #213040,
  800: #1b2837,
  900: #101b27,
  A100: #68abff,
  A200: #358fff,
  A400: #0272ff,
  A700: #0067e7,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$ld-dolphin: (
  50: #f2f3f5,
  100: #dee1e6,
  200: #c8cdd5,
  300: #b2b9c4,
  400: #a2aab8,
  500: #919bab,
  600: #8993a4,
  700: #7e899a,
  800: #747f91,
  900: #626d80,
  A100: #f3f8ff,
  A200: #c1d8fe,
  A400: #8db8ff,
  A700: #74a8ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$ld-pewter: (
  50: #f8fafb,
  100: #eef2f6,
  200: #e3e9f0,
  300: #d8e0e9,
  400: #cfd9e5,
  500: #c7d2e0,
  600: #c1cddc,
  700: #bac7d8,
  800: #b3c1d3,
  900: #a6b6cb,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #f7fbff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$ld-crystal: (
  50: #fcfcfd,
  100: #f7f8fa,
  200: #f2f4f7,
  300: #ecf0f4,
  400: #e8ecf1,
  500: #e4e9ef,
  600: #e1e6ed,
  700: #dde3eb,
  800: #d9dfe8,
  900: #d1d9e4,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$ld-diamond: (
  50: #fdfefe,
  100: #fbfcfd,
  200: #f9fafb,
  300: #f6f7f9,
  400: #f4f6f8,
  500: #f2f4f7,
  600: #f0f3f6,
  700: #eef1f5,
  800: #eceff3,
  900: #e8ecf1,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$ld-pearl: (
  50: #feffff,
  100: #fefefe,
  200: #fdfdfe,
  300: #fcfcfd,
  400: #fbfcfc,
  500: #fafbfc,
  600: #f9fafc,
  700: #f9fafb,
  800: #f8f9fb,
  900: #f6f8fa,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$white: (
  50: #ffffff,
  100: #ffffff,
  200: #ffffff,
  300: #ffffff,
  400: #ffffff,
  500: #ffffff,
  600: #ffffff,
  700: #ffffff,
  800: #ffffff,
  900: #ffffff,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$black: (
  50: #000000,
  100: #000000,
  200: #000000,
  300: #000000,
  400: #000000,
  500: #000000,
  600: #000000,
  700: #000000,
  800: #000000,
  900: #000000,
  A100: #000000,
  A200: #000000,
  A400: #000000,
  A700: #000000,
  contrast: (
    50: #ffffff,
    100: #ffffff,
    200: #ffffff,
    300: #ffffff,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #ffffff,
    A200: #ffffff,
    A400: #ffffff,
    A700: #ffffff
  )
);

$ld-galaxy-80: (
  50: #e9eaec,
  100: #c8cbce,
  200: #a4a9ae,
  300: #80878e,
  400: #646d75,
  500: #49535d,
  600: #424c55,
  700: #39424b,
  800: #313941,
  900: #212930,
  A100: #7ac1ff,
  A200: #47aaff,
  A400: #1492ff,
  A700: #0086f9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff
  )
);

$ld-galaxy-60: (
  50: #eff0f0,
  100: #d6d8da,
  200: #bbbfc2,
  300: #a0a5aa,
  400: #8b9197,
  500: #777e85,
  600: #6f767d,
  700: #646b72,
  800: #5a6168,
  900: #474e55,
  A100: #b9dafc,
  A200: #88c1fa,
  A400: #50a7ff,
  A700: #369bff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$ld-galaxy-40: (
  50: #f4f5f5,
  100: #e4e5e7,
  200: #d2d4d7,
  300: #bfc3c6,
  400: #b2b6ba,
  500: #a4a9ae,
  600: #9ca2a7,
  700: #92989d,
  800: #898f94,
  900: #787e84,
  A100: #ffffff,
  A200: #daecfc,
  A400: #a4d5ff,
  A700: #8bc9ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$ld-galaxy-20: (
  50: #fafafa,
  100: #f2f2f3,
  200: #e9eaeb,
  300: #e0e1e2,
  400: #d9dadc,
  500: #d2d4d6,
  600: #cdcfd1,
  700: #c7c9cc,
  800: #c1c3c6,
  900: #b6b9bc,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #f7fcff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000
  )
);

$palettes: (
  amethyst: $ld-amethyst,
  atlantic: $ld-atlantic,
  crystal: $ld-crystal,
  diamond: $ld-diamond,
  dolphin: $ld-dolphin,
  eggplant: $ld-eggplant,
  galaxy: $ld-galaxy,
  jade: $ld-jade,
  lime: $ld-lime,
  pacific: $ld-pacific,
  pearl: $ld-pearl,
  peony: $ld-peony,
  pewter: $ld-pewter,
  prince: $ld-prince,
  pumpkin: $ld-pumpkin,
  ruby: $ld-ruby,
  slate: $ld-slate,
  galaxy-80: $ld-galaxy-80,
  galaxy-60: $ld-galaxy-60,
  galaxy-40: $ld-galaxy-40,
  galaxy-20: $ld-galaxy-20,
  white: $white,
  black: $black
);

:root {
  $base: 500;
  @each $name, $value in $palettes {
    @if (type-of($value) == 'map') {
      @each $colorName, $colorValue in $value {
        @if (type-of($colorValue) == 'map') {
          @each $contrastName, $contrastValue in $colorValue {
            --ld-#{$name + '-' + $colorName + if($contrastName != $base, #{'-' + $contrastName}, '')}: #{$contrastValue};
          }
        } @else {
          --ld-#{$name + if($colorName != $base, #{'-' + $colorName}, '')}: #{$colorValue};
        }
      }
    }
  }
}
